.table tbody td:last-child { width:1px; white-space:nowrap; }

.table tbody tr:hover { background-color:#f8f8f8; }

.table.condensed tbody td { padding:5px 12px; }

table { width:100%; }
table tr.diff { background-color:#ffffe8; }
table tr.diff:hover { background-color:#f8f8e2; }
table tr.diff td:not(:hover) { border-color:#e3e3c6; }
table tr.meh { background-color:#F2F2F2; }
table tr.meh:hover { background-color:#F2F2F2; }
table tr.meh td:not(:hover) { border-color:#DEE2E6; }

table tr.older .dates { color:red; }
table tr.newer .dates { color:#2369A3; }

table tr.older .dates,
table tr.newer .dates { font-weight:600; }

table tr .changed::after,
table tr .bad::after,
table tr .meh::after {
    font-size:16px;
    line-height:0;
    vertical-align:middle;
    color:rgba(0,0,0,0.4);
    margin-left:7px; }

table tr .changed,
table tr .changed * { font-weight:600; }

table tr .newer,
table tr .newer * { color:#2369A3; }

table tr .older,
table tr .older * { color:red; }

table tr .bad,
table tr .bad * { font-weight:600; color:red; }

table tr .meh,
table tr .meh * { font-weight:600; color:#939323; }

table tr.new { background-color:#eaffea; }
table tr.new:hover { background-color:#e3f5e3; }
table tr.new td:not(:hover) { border-color:#dbeedb; }

table tr.no { background-color:#F2F2F2; }
table tr.no:hover { background-color:#ececec; }

table tr.no td:first-child,
table tr.no td:nth-child(2) { text-decoration:line-through; }

.push-link {
    text-decoration:none !important;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    font-size:18px;
}
.push-link:hover { color:#1d527f; }

.push-link.red { color:#ce0000; }

table.left .push-link::after,
table.right .push-link::before { font-size:18px; line-height:0; }

.inner-table tbody tr:hover { background-color:transparent; }
.inner-table tbody tr td { padding:0 12px; border-top:0; }
.inner-table tbody tr td:first-child { padding-left:0; }
.inner-table tbody tr td:last-child { padding-right:0; }

.icon { color:#4c4c4c; }
.icon.action { font-size:20px; line-height:1; }

.ignore:hover { color:#e30000; }
.delete:hover { color:#e30000; }
.push:hover { color:#2369A3; }

/* pagination */

.pag {
    margin-top:10px;
    display:flex;
    justify-content:flex-end;
    align-items:center; }
.pag .pag-text { margin:0 7px; font-size:12px; }
.pag .pag-num { font-weight:600; }
.pag .pag-icons { display:flex; }
.pag .pag-icon {
    text-align:center;
    width:25px;
    height:25px;
    background-color:#2369A3;
    color:white;
    font-size:20px;
    border:solid 2px #2369A3;
    line-height:1;
    font-weight:600;
    cursor:pointer;
    padding:0;
    border-radius:50%; }
.pag .pag-icon:not(:last-of-type) { margin-right:5px; }
.pag .pag-icon:hover { background-color:transparent; color:#2369A3; }
.pag .pag-icon.disabled {
    background-color:transparent;
    color:gray;
    border-color:gray;
    cursor:default; }
.pag .pag-first { padding-right:2px; }
.pag .pag-prev { padding-right:3px; }
.pag .pag-next { padding-left:3px; }
.pag .pag-last { padding-left:2px; }

/* modal */

/*.modal { background-color:white; border-radius:5px; }*/
.modal .modal-header {}
.modal .modal-body {}
.modal .modal-footer {}

/* alerts */

.ed-alerts {}

.ed-alerts .ed-alert {
    position:relative;
    padding:10px;
    border:1px solid #337ab7;
    border-left-width:5px;
    border-radius:3px;
    background-color:#d9edf7;
    color:#666;
    margin-top:10px;
}

.ed-alerts .ed-alert:not(:last-of-type) { margin-bottom:20px; }

.ed-alerts .ed-alert .close {
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
}

.ed-alerts .ed-alert .ed-alert-title {
    font-size:16px;
    margin-top:0;
    margin-bottom:5px;
    color:#337ab7;
    font-weight:600;
}

.ed-alerts .ed-alert.success {
    border-color:#5cb85c;
    background-color:#dff0d8;
}

.ed-alerts .ed-alert.warning {
    border-color:#f0ad4e;
    background-color:#fcf8e3;
}

.ed-alerts .ed-alert.error {
    border-color:#d9534f;
    background-color:#f2dede;
}

.ed-alerts .ed-alert.success .ed-alert-title,
.ed-alerts .ed-alert.success .close { color:#5cb85c; }

.ed-alerts .ed-alert.warning .ed-alert-title,
.ed-alerts .ed-alert.warning .close { color:#f0ad4e; }

.ed-alerts .ed-alert.error .ed-alert-title,
.ed-alerts .ed-alert.error .close { color:#d9534f; }

/* custom modal */

.modal .modal-body .slash {
    font-size:24px;
    margin-right:10px;
    color:gray;
    line-height:1;
}

.modal .modal-body .code {
    font-family:'Roboto Mono', monospace;
    background-color:#efefef;
    padding:5px;
    line-height:1;
}

/* notes section */

.notes-section {}
.notes-section::after { content:''; display:table; clear:both; }
.notes-section label { display:block; font-weight:600; font-size:15px; margin-bottom:3px; }
.notes-section textarea {
    width:100%;
    border:solid 1px #cccccc;
    padding:10px;
    border-radius:4px;
    font-size:16px;
    transition:all 0.2s;
    min-height:150px;
}
.notes-section textarea:focus {
    border-color:#2369a3;
    box-shadow:0 0 3px #2369a3;
    outline:0;
}
.notes-section #notes_submit { margin-top:10px; float:right; }